.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}