.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productEngTitle {
    font-weight: 300;
    margin-bottom: 18px;
    color: #061505;
    background-color: #033915;
    padding: 2px 26px 2px 8px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 28px;
}

.block1 {
    transition: all 1s ease;
    margin-top: 400px;
    width: 10px;
    border-radius: 10px;
    opacity: 0.5;
    height: 10px;
    background-color: #2ECC4F;
}

.block2 {
    transition: all 1s ease;
    margin-top: 16px;
    width: 220px;
    border-radius: 10px;
    opacity: 0;
    height: 64px;
    background-color: #26A740;
}

.block3 {
    transition: all 1s ease;
    margin-top: 16px;
    width: 200px;
    border-radius: 10px;
    opacity: 0;
    height: 64px;
    background-color: #1E8231;
}

.productItem {
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #FEFEFE;
    text-align: center;
    border-radius: 15px;
    width: 180px;
    height: 100px;
    opacity: 0;
    background: linear-gradient(224deg, #124026 0%, #061505 100%);
}

.productItem2 {
    margin-top: 19px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #FEFEFE;
    text-align: center;
    border-radius: 15px;
    width: 280px;
    height: 128px;
    opacity: 0;
    background: linear-gradient(224deg, #124026 0%, #061505 100%);
}

.contactUsTitle {
    font-size: 100px;
    background: linear-gradient(203deg, #6AEC85 0%, #03B424 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.contactUsAddress {
    margin-top: 24px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 5px;
    background: linear-gradient(180deg, #6AEC85 0%, #078E21 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}